body {
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  color: #ffffff;
}

html, body {
  overflow-x: hidden;
}

h1 {
  font-size: 40px;
  color: #333333;
  font-family: "Akatab";
  font-weight: 500;
  letter-spacing: 3px;
  font-style: normal;
  letter-spacing: -0.5px;
}
@media (max-width: 1200px) {
  h1 {
    font-size: 39px;
  }
}
@media (max-width: 900px) {
  h1 {
    font-size: 38px;
  }
}

h2 {
  font-size: 28px;
  color: #002555;
  font-family: "Akatab";
  font-weight: 700;
  letter-spacing: 3px;
  font-style: normal;
  letter-spacing: -0.7px;
}
@media (max-width: 1200px) {
  h2 {
    font-size: 28px;
  }
}
@media (max-width: 900px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  font-size: 20px;
  color: #009CE8;
  font-family: "Akatab";
  font-weight: 800;
  letter-spacing: 3px;
  font-style: normal;
  letter-spacing: -0.7px;
}
@media (max-width: 1200px) {
  h3 {
    font-size: 20px;
  }
}
@media (max-width: 900px) {
  h3 {
    font-size: 17px;
  }
}

p {
  font-size: 22px;
  color: #333333;
  font-family: "Akatab";
  font-weight: 300;
  letter-spacing: 1px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: -0.5px;
  margin: 0;
  max-width: 1000px;
}
@media (max-width: 1200px) {
  p {
    font-size: 18px;
  }
}
@media (max-width: 900px) {
  p {
    font-size: 16px;
  }
}

.miniText {
  font-size: 16px;
  color: #6B6B6B;
}

.boldText {
  font-weight: 800;
}

.blueText {
  color: #009CE8;
}

.marginTop7 {
  margin-top: 7em;
}

.whitespace {
  width: 90vw;
  max-width: 1400px;
  justify-self: center;
}

.buttonBoxFrame {
  margin: 2em 0;
  display: flex;
  gap: 2%;
}
.buttonBoxFrame .buttonBox {
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  gap: 3em;
  border-bottom: 2px solid #009CE8;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  width: 32%;
}
.buttonBoxFrame .buttonBox:hover {
  cursor: pointer;
  border-bottom: 2px solid #002555;
}
.buttonBoxFrame .buttonBox h3 {
  color: #333333;
}
@media screen and (max-width: 950px) {
  .buttonBoxFrame {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  .buttonBoxFrame .buttonBox {
    margin: 0 auto;
    max-width: 500px;
    width: 80%;
  }
}

.boxFrame {
  margin: 2em 0 5em 0;
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
}
.boxFrame .box {
  cursor: pointer;
  width: 48%;
}
.boxFrame .box .line {
  width: 30%;
  height: 2px;
  margin-top: 40px;
  background-color: #009CE8;
  transition: background-color 0.3s ease;
}
.boxFrame .box:hover .line {
  background-color: #002555;
}
@media screen and (max-width: 1000px) {
  .boxFrame {
    flex-direction: column;
    gap: 2em;
  }
  .boxFrame .box {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 700px) {
  .boxFrame .box {
    width: 100%;
  }
}

.imgtop {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 3/1;
}
@media screen and (max-width: 1000px) {
  .imgtop {
    aspect-ratio: 3/2;
  }
}

.textBluebox {
  position: relative;
  top: -5vw;
  background-color: #002555;
  padding: 2em 3em 2em 5em;
  width: 85%;
}
.textBluebox h1, .textBluebox p {
  color: #ffffff;
}
@media screen and (max-width: 1000px) {
  .textBluebox {
    width: 100%;
    padding: 2em 0;
  }
  .textBluebox h1, .textBluebox p {
    padding: 0 20px;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInFromLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}
.chat-container {
  position: fixed;
  border: 1px solid rgb(193, 193, 193);
  bottom: 1rem;
  right: 1rem;
  width: 450px;
  background: #ffffff;
  display: none;
  flex-direction: column;
  overflow: hidden;
  z-index: 1000;
  min-height: 80vh;
  transform: translateX(100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.chat-container.visible {
  display: flex;
  animation: slideInFromRight 0.4s ease-out forwards;
}
.chat-container.not-visible {
  display: flex;
  animation: slideInFromLeft 0.5s ease-out forwards;
}
.chat-container .chat-title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(196, 196, 196);
  padding: 0.75rem;
}
.chat-container .chat-title .robert-in-chat {
  width: 60px;
  margin-right: 1rem;
}
.chat-container .chat-title h2 {
  flex: 1;
  margin-top: 20px;
  font-size: 1.2rem;
  color: #333333;
  font-family: "Akatab";
  font-weight: 500;
  letter-spacing: 1px;
  font-style: normal;
  color: #009CE8;
}
.chat-container .chat-title .close-chat {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}
.chat-container .chat-box {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  overflow-y: auto;
  background: #fafafa;
  flex: 1;
}
.chat-container .chat-box .chat-message {
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  font-size: 0.9rem;
  max-width: 52%;
}
.chat-container .chat-box .chat-message.bot {
  background: #ffffff;
  color: #002555;
  border: 1px solid #009CE8;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  align-self: flex-start;
  font-size: 16px;
  color: #333333;
  font-family: "Akatab";
  font-weight: 500;
  letter-spacing: 1px;
  font-style: normal;
}
@media (max-width: 1200px) {
  .chat-container .chat-box .chat-message.bot {
    font-size: 16px;
  }
}
@media (max-width: 900px) {
  .chat-container .chat-box .chat-message.bot {
    font-size: 16px;
  }
}
.chat-container .chat-box .chat-message.user {
  background: #ffffff;
  color: #002555;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  align-self: flex-end;
  font-size: 16px;
  color: #333333;
  font-family: "Akatab";
  font-weight: 500;
  letter-spacing: 1px;
  font-style: normal;
}
@media (max-width: 1200px) {
  .chat-container .chat-box .chat-message.user {
    font-size: 16px;
  }
}
@media (max-width: 900px) {
  .chat-container .chat-box .chat-message.user {
    font-size: 16px;
  }
}
.chat-container .chat-input-container {
  display: flex;
  padding: 0.5rem 2rem;
}
.chat-container .chat-input-container .chat-input {
  flex: 1;
  padding: 0.4rem 0.6rem;
  border: 1px solid #009CE8;
  font-size: 0.9rem;
}
.chat-container .chat-input-container .chat-send {
  padding: 0.4rem 0.8rem;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .chat-container {
    width: 96vw;
    max-width: 500px;
    right: 2vw;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(150%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.robert {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  margin-left: 10px;
}
.robert .buttonBox {
  background: #ffffff;
  padding: 0 1rem;
  max-width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-bottom: 2px solid #009CE8;
}
.robert .buttonBox h3 {
  color: #002555;
  font-weight: 400;
}
.robert img {
  width: 6em;
}
@media screen and (max-width: 1000px) {
  .robert {
    bottom: 5px;
    right: 5px;
  }
  .robert img {
    width: 4em;
  }
}

footer {
  background-color: #6B6B6B;
  height: 20em;
}/*# sourceMappingURL=App.css.map */