@import 'partials';

//------------------
// Generel styling
//------------------
body {
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  color: $backgroundColor;
} 
html, body {
  overflow-x: hidden;
}

h1 {
  @include responsive-font-size(40px, 39px, 38px);
  @include fonts($darkGrey, "Akatab", 500, 3px);
  letter-spacing: -0.5px;
}

h2 {
  @include responsive-font-size(28px, 28px, 28px);
  @include fonts($darkBlue, "Akatab", 700, 3px);
  letter-spacing: -0.7px;
}

h3 {
  @include responsive-font-size(20px, 20px, 17px);
  @include fonts($blue, "Akatab", 800, 3px);
  letter-spacing: -0.7px;
}

p {
  @include responsive-font-size(22px, 18px, 16px);
  @include fonts($darkGrey, "Akatab", 300, 1px);
  line-height: 1.7;
  letter-spacing: -0.5px;
  margin: 0;
  max-width: 1000px;
}

.miniText {
  font-size: 16px;
  color: $grey;
}
.megaMiniText {
  font-size: 16px;
  color: $grey;
  @media screen and (max-width: 1000px) {
    font-size: 13px;
  }
}

.boldText {
  font-weight: 800;
}

.blueText {
  color: $blue;
}

.marginTop7{
  margin-top: 7em;
}

.whitespace {
  width: 90vw;
  max-width: 1400px;
  justify-self: center;
}
.buttonBoxFrame {
  margin: 2em 0;
  @include flex(row, flex-start, stretch, 2%);
  .buttonBox{
    @include flex(column, flex-start, stretch, 3em);
    padding: 1em 2em;
    border-bottom: 2px solid $blue;
    @include box-shadow-standard;
    width: 32%;
    &:hover {
      cursor: pointer;
      border-bottom: 2px solid $darkBlue;
    }
    h3 {
      color: $darkGrey;
    }
  }
  @media screen and (max-width:950px) {
    @include flex(column, flex-start, stretch, 2em);
    .buttonBox {
      margin: 0 auto;
      max-width: 500px;
      width: 80%;
    }
  }
}
.boxFrame {
  margin: 2em 0 5em 0;
  @include flex(row, flex-start, stretch, 4%);
  flex-wrap: wrap;
  .box {
    @include flex(column, space-between, stretch, 0);
    width: 48%;
    .line {
      width: 30%;
      height: 2px;
      margin-top: 40px;
      background-color: $blue;
      transition: background-color 0.3s ease;
    }
  }
  @media screen and (max-width: 1000px) {
    @include flex(column, flex-start, stretch, 2em);
    .box {
      width: 80%;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 700px) {
    .box {
      width: 100%;
    }
  }
}
.imgtop {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 3/1;
  @media screen and (max-width:1000px) {
    aspect-ratio: 3/2;
  }
}
.textBluebox {
  position: relative;
  top: -5vw;
  background-color: $darkBlue;
  padding: 2em 3em 2em 5em;
  width: 85%;
  h1, p {
    color: $backgroundColor;
  }
  @media screen and (max-width: 1000px) {
    width: 100%;
    padding: 2em 0;
    h1, p {
      padding: 0 20px;
    }
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInFromLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.chat-container {
  position: fixed;
  border: 1px solid rgb(193, 193, 193);
  bottom: 1rem;
  right: 1rem;
  border-radius: 4px;
  width: 450px;
  background: $backgroundColor;
  display: none;
  flex-direction: column;
  overflow: hidden;
  z-index: 1000;
  height: 80vh;
  transform: translateX(100%);
  transition: transform 0.3s ease, opacity 0.3s ease;

  &.visible {
    display: flex;
    animation: slideInFromRight 0.4s ease-out forwards;
  }
  &.not-visible {
    display: flex;
    animation: slideInFromLeft 0.5s ease-out forwards;
  }

  .chat-title {
    @include flex(row, flex-start, center, 0);
    border-bottom: 1px solid rgb(196, 196, 196);
    padding: 0.75rem;

    .robert-in-chat {
      width: 60px;
      margin-right: 1rem;
    }

    h2 {
      flex: 1;
      margin-top: 20px;
      font-size: 1.2rem;
      @include fonts($darkGrey, "Akatab", 500, 1px);
      color: $blue;
    }

    .close-chat {
      background: none;
      border: none;
      font-size: 2rem;
      cursor: pointer;
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }

  .chat-box {
    @include flex(column, flex-start, stretch, 0);
    padding: 0.75rem;
    overflow-y: auto;
    background: #fafafa;
    flex: 1;

    .chat-message {
      margin-bottom: 0.5rem;
      padding: 0.5rem 0.75rem;
      border-radius: 8px;
      font-size: 0.9rem;
      max-width: 52%;

      &.bot {
        background: #ffffff;
        color: $darkBlue;
        border: 1px solid $blue;
        @include box-shadow-standard;
        align-self: flex-start;
        @include responsive-font-size(16px, 16px, 16px);
        @include fonts($darkGrey, "Akatab", 500, 1px);
      }

      &.user {
        background: #ffffff;
        color: $darkBlue;
        @include box-shadow-standard;
        align-self: flex-end;
        @include responsive-font-size(16px, 16px, 16px);
        @include fonts($darkGrey, "Akatab", 500, 1px);
      }
    }
  }

  .chat-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.6rem 1rem;
    width: 90%;
    .chat-input {
      flex: 1;
      padding: 0.7rem 0.8rem;
      border: 1px solid $darkBlue;
      font-size: 0.9rem;
      border-radius: 4px;

    }

    .chat-send {
      padding: 0rem 1.1rem;
      background: #002555;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 4px;
      font-size: 20px;
    }
  }
  @media screen and (max-width:1000px) {
    width: 96vw;
    max-width: 500px;
    right: 2vw;
  }
}
@keyframes slideInFromRight {
  from {
    transform: translateX(150%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.robert {
  @include flex(row, flex-start, center, 0.5rem);
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  margin-left: 10px;

  .buttonBox {
    background: $backgroundColor;
    padding: 0 1rem;
    max-width: 300px;
    @include box-shadow-standard;
    border-bottom: 2px solid $blue;
    h3 {
      color: $darkBlue;
      font-weight: 400;
    }
  }
  img {
    width: 6em;
  }
  @media screen and (max-width: 1000px) {
    bottom: 5px;
    right: 5px;
    img {
      width: 4em;
    }
  }
}
footer {
  background-color: $grey;
  height: 20em;
}


.header {
  height: 100%;
  .smallAbove {
    display: none;
  }
  .mediumUnder {
    display: none;
  }
  .header-content {
    @include flex(row, space-between, stretch, 3em);
    max-width: 1200px;
    padding: 0 1em;
    margin: 0 auto;
    height: 100%;
    .right, .left {
      @include flex(row, flex-start, center, 2em);
    }
    .medium {
      display: flex;
      list-style: none;
      gap: 1em;
    }
    .logo {
      height: 80%;
    }
    .line {
      width: 1px;
      height: 100%;
      background-color: rgb(175, 175, 175);
    }
    .menu {
      background-color: $darkBlue;
      padding: 1em 1.4em;
      p {
        color: white;
      }
      .lineBurger {
        margin-bottom: 6px;
        height: 3px;
        width: 36px;
        background-color: white;
      }
    }
    @media screen and (max-width: 1000px) {
      .medium {
        display: none;
      }
      .menu {
        padding: 0.6em 1em;
      }
    }
    @media screen and (max-width: 800px) {
      .small {
        display: none;
      }
    }
  }
  .flag {
    height: 1.1em;
  }
  @media screen and (max-width: 800px) {
    height: 100%;
    .smallAbove {
      display: block;
      background-color: rgb(239, 239, 239);
      padding: 0 0.5em;
    }
  }
  @media screen and (max-width: 1000px) {
    .under {
      @include flex(row, center, center, 2em);
      background-color: rgb(239, 239, 239);
      .mediumUnder {
        display: flex;
        gap: 1em;
        list-style: none;
      }
      .line {
        width: 1px;
        height: 40px;
        background-color: $darkGrey;
      }
    }
  }
}

.breadcrumbs {
  background-color: rgb(220, 222, 226);
  display: flex;
  .content  {
    width: 100vw;
    max-width: 1200px;
    padding: 1em 0.5em;
    margin: 0 auto;
  }
  p {
    color: $darkBlue;
    font-weight: 600;
  }
}

//454